<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Domain</key>
	<string>pushp.auth0.com</string>
	<key>ClientId</key>
	<string>Y6sYjewFOtf4arjzNb1ZywLH0Ptj1Vij</string>
</dict>
</plist>
